.content2 {
    /* Inner */
    display: flex;
    justify-content: center;
    
    /* Visibillity */
    opacity: 0;
    transform: scale(0.3); /* Initial scale (slightly smaller) */
    transition: opacity 1s ease, transform 1s ease; /* Transition both opacity and transform */

    /* Position */
    position: fixed;
    top: 25%;
    width: 100%;

    /* Overflow */
    max-height: 400px;
}


/* OUTER CONTAINER ALT CLASS NAMES */
.invisible {
    opacity: 0;
    transform: scale(0.7); /* Slightly smaller */
    z-index: -1;
}

.visible {
    opacity: 1;
    z-index: 30;
    transform: scale(1); /* Back to normal size */
}




.innerContainer {
    /* Space */
    width: 70vw;
    height: 50vh;
    padding: 25px;

    /* Scrolling */
    overflow-y: auto;

    /* Look */
    /*border: 1px solid black;*/
    text-align: center;
    transition: width 0.7s ease; /* Add a transition for the width property */


    /* slight transparency for style*/
    opacity: 1;

    
    /* slight shadow for soft edges*/
    box-shadow: 0 0 10px 5px rgba(34,34,34,0.5);

    /* rounded corners*/
    border-radius: 20px;
    
    /* Make into an image */
    /*background-color: goldenrod;*/
    background-image: url('../images/Charles_Dickens_Dream_Translucent.png'); /*Replace 'your-image-url.jpg' with the path to your image */
     background-size: cover; /*This property ensures that the background image covers the entire innerDiv */
    background-repeat: no-repeat; /*Prevents the background image from repeating */
    background-position: center; /*Centers the background image both vertically and horizontally */
}

.innerContainer h1 {
    /* Space */
    margin-bottom: 15px;
    /* Look */
    color: white;
    -webkit-text-stroke: 1px rgb(0, 0, 0); /* Text stroke for WebKit-based browsers (Safari, Chrome) */
    text-stroke: 1px rgb(0, 0, 0); /* Text stroke for other browsers */
}

.innerContainer p {
    /* Space */
    margin-bottom: 20px;
    /* Look */
    font-size: 25px;
    color: black;
    -webkit-text-stroke: 1px white; /* Text stroke for WebKit-based browsers (Safari, Chrome) */
    text-stroke: 1px rgb(0, 0, 0); /* Text stroke for other browsers */
}




/* ANYTHING TO DO WITH onClick event */
.hiddenText {
    /* Space */
    display: none;
}




/* INNER CONTAINER ALT CLASSNAME */
.wide {
    width: 80%;
}

.wide .hiddenText {
    display: inline-block;
}

.wide .learnMore{
    display: none;
}






/* Anything to do with VP width */

@media (max-width: 800px) {
    .content2 {
        top: 25%;
    }
}